extends layout

block main-content 
  div.product
    h1 Single Bead 
    p Shop your single bead and DIY your own keychain
  
    
    div.productContainer
        each bead in product
            div.productContainer__flex
                div.productContainer__flex__product
                    img(src=bead.image width="300px" alt=bead.BeadName)
                    a(href="/product") #{bead.BeadName} 
                    p #{bead.Price} 
                    form(action="/product/submit", method="post")
                      input(type="hidden",name="productId", value=bead._id)
                      button Add to Cart

        
    

